<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>

    <body>
        <div class="main-content">
            <div class="row">
                <div class="col col-sm-3"></div>
                <div class="col col-sm-6">
                    {{>header}}
                    <div id="aboutDiv">
                        <img class="portrait" src="/img/pp.png">
                        <p id="aboutMe">Hi, I am Asad Bin Abdiullah, a software engineer. Currently working on node.js projects. And this project is the first one for me to get hosted on Heroku platform.
                        <br>
                        <br>
                        This weather project is created using two APIs provided by <a href="mapbox.com">mapbox.com</a> and <a href="weatherstack.com">weatherstack.com</a>. The first one is used for 
                        geo-location extraction and the other for getting weather data from that geo.
                        <br>
                        <br>
                        From those two APIs I have creaed another API inside this project which, if you are interested can be accessed at <a href="/weather">weather</a>. The API call works for a 
                        query string having a key pair value of "address".
                        </p>
                    </div>
                </div>
                <div class="col col-sm-3"></div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>